<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Home.aspx" name="authASPX">
        <credentials passwordFormat="Clear">
          <user name="Lee" password="0000"/>
          <user name="Paddy" password="0000"/>
          <user name="James" password="0000"/>
          
        </credentials>
      </forms>
    </authentication>
    <authorization>
      
    </authorization>
    <compilation debug="true"/>
  </system.web>
</configuration>